// colors
$base_color: #999999;
// fonts
$base_font-family: 'Roboto', sans-serif;
$base_font-size: 15px;
$base_line-height: 1.6;
$base_font-weight: 400;
$base_font-style: normal;
// container
$container_max-width: 1260px;
$container_padding: 0 30px;
// 1 634 375 816  9t6am8
