@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;

  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    /* IE6-IE8 */ url("../fonts/Montserrat/montserrat-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat/montserrat-latin-regular.woff2") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;

  src: local("Montserrat Black"), local("Montserrat-Black"),
    /* IE6-IE8        */ url("../fonts/Montserrat/montserrat-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Montserrat/montserrat-latin-900.woff") format("woff");
}

@font-face {
  font-family: "DroidSerif";
  font-style: italic;
  font-weight: 400;
  src: local("Droid Serif Italic"), local("DroidSerif-Italic"),
    /* IE6-IE8          */ url("../fonts/DroidSerif/droidserifitalic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/DroidSerif/droidSerifItalic.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;

  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    /* IE6-IE8                          */ url("../fonts/roboto-slab-v11-latin/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-slab-v11-latin/roboto-slab-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Wisdom Script";
  font-style: normal;
  font-weight: 400;

  src: local("Wisdom Script Regular"), local("WisdomScript-Regular"),
    /* IE6-IE8                          */ url("../fonts/WisdomScriptAJ/WisdomScriptAJ.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/WisdomScriptAJ/WisdomScriptAJ.woff") format("woff");
}
