@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  font: inherit;
}

.wrapper {
  font-family: "Playfair Display";
  font-weight: normal;
  position: relative;
  width: 470px;
  padding: 35px 10px;
  overflow: hidden;
  margin: 0 auto;
}

.card {
  width: 420px;
  vertical-align: top;
  margin: 0 15px;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.card-category {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 30px;
}

.card-category-link {
  text-decoration: none;
  color: inherit;
}

.card-category-link:hover {
  color: #03a9f4;
}

.card-title {
  color: inherit;
  font-size: 30px;
  margin-bottom: 40px;
}

.card-text {
  color: inherit;
  font-size: 14px;
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.7;
}
