@import url("fonts.css");

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.6;
  color: #666666;
}
#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
ul,
ol {
  list-style: none;
}

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 85px;
  padding-bottom: 20px;
  /* border: 1px solid yellowgreen; */
}
.logo {
  font-size: 0;
  line-height: 0;
}
.logo-link {
  text-decoration: none;
}
.logo img {
  margin-bottom: -8px;
}
.logo-link-text {
  font-family: "Wisdom Script";
  font-weight: 400;
  font-size: 28px;
  line-height: 0;
  color: #fed138;
  text-decoration: none;
}

.nav-list {
  font-family: "Montserrat";
  font-weight: 400;

  font-size: 14px;
  line-height: 1;
  margin-bottom: -2px;
}
.nav-item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
}
.nav-item-link:hover {
  color: #fed138;
}

.nav-list {
  display: flex;
}

.nav-item + .nav-item {
  margin-left: 40px;
}
section {
  padding: 100px 0;
}

.head {
  font-family: "Montserrat";
  font-weight: 700;

  font-size: 40px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 20px;
  line-height: 1;
}
.services .head {
  color: #333333;
}
.sub-head {
  font-family: "DroidSerif";
  font-style: italic;
  font-weight: 400;

  font-size: 16px;
  text-align: center;
  text-transform: initial;
  margin-bottom: 75px;
}

.services .sub-head {
  color: #666666;
}
.services-list {
  display: flex;
  justify-content: space-between;
}
.services-item {
  width: 290px;
  text-align: center;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #666666;
}

.services-item::before {
  margin-bottom: 20px;
  content: "";
  display: inline-block;
  border: 3px solid #fed136;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.services-01::before {
  background-image: url(../img/services-icon-01.png);
}
.services-02::before {
  background-image: url(../img/services-icon-02.png);
}
.services-03::before {
  background-image: url(../img/services-icon-03.png);
}

.services-item-head {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #333333;
  margin-bottom: 10px;
}

.contact {
  background-color: #333333;
  background-image: url(../img/bg-contact-map.png);
  background-repeat: no-repeat;
  background-position: right bottom 20px;
}
.contact .head {
  color: #ffffff;
}
.contact .sub-head {
  color: #666666;
}

:focus,
:visited {
  outline: none;
}
form,
fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
  height: 55px;
  padding: 18px 20px;
  margin-bottom: 25px;
  line-height: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  background: #fff;
  width: 100%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="submit"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bbbbbb;
}
textarea {
  height: 215px;
  resize: none;
  overflow: auto;
  vertical-align: top;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  width: 50%;
  padding: 0 15px;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:valid:not(:placeholder-shown),
textarea:valid:not(:placeholder-shown) {
  border-color: green;
}

.btn-send {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  border-radius: 4px;
  width: 240px;
  height: 65px;
  text-transform: uppercase;
  background-color: #fed136;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
