/* --------------------- САЙТЫ ПРИМЕРЫ ----------------------*/
/* пример того что бывает без оверфлоу хидден на врапере */
/* http://dmzik.blogspot.com/2013/10/emmet-html-1.html */

/* ------------------- НОРМАЛИЗАИЯ СТИЛЕЙ -------------------*/
/* убираем обводки у кнопок в состоянии focus и active */
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
/* ------------------- СТАНДАРТНЫЕ КЛАССЫ -------------------*/
/* убираем схлопывание родителя при использовании float */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* делаем элемент невидимым для пользователя */
.visually-hidden:not(:focus):not(:active),
.visually-hidden::before,
.visually-hidden::after,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
